### Mix precision

{% include 'sections/mixed_precision_accumulation.md' %}

{% include 'sections/mixed_precision_autocat_type.md' %}

{% include 'sections/mixed_precision_layernorm.md' %}

{% include 'sections/mixed-precision.md' %}

