# CS336 Spring 2025 Assignment 2: Systems - Analysis Report

## Profiling

{% include 'sections/benchmarking.md' %}

{% include 'sections/nsys-profile.md' %}

{% include 'templates/benchmarking_mixed_precision.md.j2' %}

{% include 'templates/benchmarking_memory.md.j2' %}

{% include 'sections/attention-benchmark.md' %}

{% include 'sections/e2e_jit_comparison.md' %}
